.Default {
  max-width: 1000px;
  margin: 0 auto; /* Căn giữa */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.children {
  flex: 1;
}
.FooterComponent {
  margin-top: 300px;
  flex-shrink: 0;
  padding-top: 10px;
}
