<!--include header-->
<%- include('include/_header') %>
    <!--/include header-->

    <h1 style="margin-left: 524px;">Bieu do phan tich </h1>

    <!--include footer-->
    <%- include('include/_footer') %>
        <!--/include footer-->