* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
}

.navbar {
    background-color: #fff;
    margin-left: 250px;
    flex-direction: row;
    border-bottom: solid 1px black;
    position: relative;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding-left: 0;
}

.navbar .navbar-nav1 {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
}

.navbar .navbar-nav1 .fas {
    color: #4b545c;
}

.navbar .navbar-nav1 .navbar-search-block.navbar-search-open {
    display: flex;
}

.navbar .navbar-nav1 .navbar-search-block {
    position: absolute;
    padding: 0.1rem;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    z-index: 10;
    justify-content: center;
    flex-direction: column;
}

.navbar .navbar-nav1 .navbar-search-block .input-group {
    border: 2px solid rgb(129, 159, 129);
    border-radius: 0.3rem;
}

.navbar .navbar-nav1 .navbar-search-block .input-group .form-control {
    background-color: #f5f5f5;
    border-color: #e8e8e8;
    color: rgba(52, 58, 64, 0.8);
}

.navbar .navbar-nav1 .navbar-search-block .input-group .input-group-append {
    display: flex;
}

.navbar .navbar-nav1 .navbar-search-block .input-group .input-group-append .btn-nav {
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #0f0d0d;
}

.navbar .navbar-nav1 .dropdown .navbar-badge {
    font-size: 1rem;
    font-weight: 300;
    position: absolute;
    padding: 1px 4px;
    top: 0px;
    right: 2px;
    color: rgb(157, 115, 115);
    background-color: #c6d754;
    border-radius: 10px 10px;
}


.main-sidebar {
    width: 250px;
    left: 0;
    bottom: 0;
    position: fixed;
    top: 0;
    background-color: #343a40;
}

.main-sidebar .brand-link {
    display: block;
    font-size: 1.25rem;
    text-decoration: none;
    width: 250px;
    margin-top: 0;
    padding: 0.8125rem 0.5rem;
    border-bottom: 1px solid #4b545c;
    color: rgba(255, 255, 255, 0.8);
}

.main-sidebar .brand-link .brand-image {
    float: left;
    line-height: 0.8;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 0px;
    margin-bottom: 5px;
    max-height: 32px;
    width: auto;
}

.main-sidebar .sidebar .user-panel {
    border-bottom: 1px solid #4f5962;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.main-sidebar .sidebar .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.main-sidebar .sidebar .form-inline .input-group {
    font-size: 25px;
    width: 100%;
    flex-wrap: nowrap;
}

.main-sidebar .sidebar .form-inline .input-group .form-control {
    background-color: #3f474e;
    border: 1px solid #56606a;
}

.main-sidebar .sidebar .form-inline .input-group .btn-sidebar {
    background-color: #3f474e;
    border: 1px solid #56606a;
    color: #fff;
}

.main-sidebar .sidebar .form-inline .input-group .btn-sidebar .fas {
    font-size: 18px;
    margin: 5px;
}

.main-sidebar .sidebar .form-inline .input-group .input-group-append {
    border: 1px solid #56606a;
}



.main-sidebar .sidebar .nav-sidebar .menu-open a {
    color: #fff;
}

.main-sidebar .sidebar .nav-sidebar .menu-open p {
    display: inline;
    font-size: 20px;
}

.main-sidebar .sidebar .nav-sidebar .menu-open .nav-icon {
    margin-right: 20px;
    font-size: 20px;
}

.main-sidebar .sidebar .nav-sidebar .menu-open p .down {
    margin-left: 20px;
}

.content-wrapper {
    margin-left: 250px;
}

.content-wrapper h1 {
    font-size: 1.8rem;
    margin: 0;
}

.content-wrapper .small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: relative;
}

.content-wrapper .small-box a {
    color: #fff;
}

.content-wrapper .small-box .inner {
    padding: 10px;
}

.content-wrapper .small-box .inner h3 {
    font-size: 3.3rem;
}

.content-wrapper .small-box .inner p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.content-wrapper .small-box .icon {
    color: rgba(11, 9, 9, 0.15);
}

.content-wrapper .small-box .icon i {
    position: absolute;
    right: 15px;
    font-size: 70px;
    top: 20px;
}

.content-wrapper .small-box .small-box-footer {
    background-color: rgba(136, 36, 36, 0.1);
    display: block;
    text-align: center;
    position: relative;
    padding: 3px 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

.card {
    border: 1px solid rgb(212, 215, 109);
}

.card .card-header {
    text-align: center !important;
}

.card .input-daterange {
    width: 50%;
    margin: 7px;
}

.card .input-daterange .input-group-addon {
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card .input-daterange .form-control {
    border-radius: 0% !important;
}

.card .card-body {
    border-top: 2px solid rgb(212, 215, 109);
}

.card-user {
    margin: 15px;
    border: 2px solid rgb(77, 72, 72);
    border-radius: 0.3rem;
    text-align: center;
}

.card-user .card-header-user {
    padding: 5px;
    background-color: #e8e8e8;
    border-bottom: 1px solid #534f4f;
}

.card-user .card-body-user {
    padding: 15px;
    margin: 4px;
    margin-bottom: -6px;
}

.card-user .delete {
    background: rgb(204, 91, 91);
}

.card-user .edit {
    background: rgb(75, 208, 75);
}

.card-create {
    width: 98%;
    margin: 15px;
    border: 2px solid rgb(37, 120, 183);
    border-radius: 0.3rem;
}

.card-create .card-header-create {
    padding: 5px;
    border-bottom: 1px solid rgb(110, 110, 210);
}

.card-create .card-header-create h3 {
    color: #f5f5f5;
}

.card-create .card-body-create {
    padding: 11px;
    margin: 14px;
    margin-bottom: 14px;
}